# Скопируйте в .env на сервере (рядом с docker-compose.yml) и заполните
DOMAIN=lemurqa.ru
DJANGO_SECRET_KEY=длинная-случайная-строка
POSTGRES_USER=mysite
POSTGRES_DB=mysite
POSTGRES_PASSWORD=надёжный-пароль-базы
DJANGO_ALLOWED_HOSTS=lemurqa.ru,www.lemurqa.ru
DJANGO_CSRF_TRUSTED_ORIGINS=https://lemurqa.ru,https://www.lemurqa.ru
